.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

/* line highlight fix start */
.chroma .hl {
    display: inherit;
}

.post-content table pre code {
    padding: 10px 0px 10px 0px;
}

.chroma .lntd:first-of-type {
    padding-inline-start: 10px;
}

.chroma .lntd:last-of-type {
    padding-inline-end: 10px;
    width: 100%;
}

.social-icons a:first-child {
    padding-left: 0;
}

.profile_img {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.center-title {
    margin-left: auto;
    margin-right: auto;
}

.callout {
    font-size: .65em !important;
    margin: auto 24px;
    padding: 14px 14px;
    font-size: .78em;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 2px;
}
